.weather__info-container{
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    color: rgb(255, 255, 255);
}
.weather__display-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 10vh;
    width: 34vw;
    margin: 10px;
    padding: 10px;
    gap: 30px;
    background:rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: #fff;
}
.weather__display-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.weather__display-content:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/bg-today-small.svg') no-repeat center/cover;
    width: 80vw;
    height: 30vh;
    background-color: #262540;
    border-radius: 12px;
    color: #fff;
    
}
.weather__location {
    font-size: 1.5rem;
    font-weight: bold;
}
.weather__current-icon{
    width: 5em;
    height: 5em;
}
.weather__temp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.weather__temp{
    font-size: 5rem;
    font-weight: bold;
}

