.weather__info-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.weather__display-content {
    display: flex;
    flex-direction: column;
    height: 15vh;
    min-width: 40vw;
    margin: 5px;
    padding: 20px;
    background:rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
}
.weather__display-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.weather__featured-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/bg-today-small.svg') no-repeat center/cover;
    min-width: 100%;
    min-height: 30vh;
    border-radius: 12px;
    color: #fff;
    
}
.weather__location {
    font-size: 1.5rem;
    font-weight: bold;
}
.weather__current-icon{
    width: 5em;
    height: 5em;
}
.weather__temp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.weather__temp{
    font-size: 5rem;
    font-weight: bold;
}
.weather__value{
    font-size: 1.6rem;
    font-weight: bold;
}

