.weather__hourly{
    color: #fff;
    font-size: 1.2em;
}

.weather__hourly-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
}

.weather__hourly-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    width: 80vw; 
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}

.weather__hourly-time {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.weather__hourly-time img {
    width: 2em;
    height: 2em;
}

.weather__hourly-temp {
    font-weight: bold;
}

@media only screen and (min-width: 992px){
    .weather__hourly-item {
        width: 100%;
        max-width: 100%;
    }
}