.weather__search-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
}
.weather__search-btn {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #4658d9;
  border-radius: 12px;
  background-color: #4658d9;
  box-sizing: border-box;
}
