.weather__search-input {
  display: flex;
  flex-direction: row;
  width: 83vw;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
}
.weather__search-btn {
  display: block;
  margin-top: 10px;
  width: 88vw;
    padding: 10px;
    font-size: 16px;
    border: #4658d9;
    border-radius: 12px;
    background-color: #4658d9;
}
