.weather__header {
   height: 33px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: white;
}


.weather__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.weather__units {
  padding: 8px 16px;
  background-color: #262540;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.weather__units-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.weather__units:hover {
  background-color: #f0f0f0;
}