.weather__daily {
    color: #fff;
    box-sizing: border-box;
}

.weather__daily h3 {
    margin-bottom: 15px;
}

.weather__daily-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 20px;
}

.weather__daily-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}
.weather__daily-icon{
    width: 5em;
    height: 5em;
}

.weather__daily-day {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.weather__daily-temps {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}

.weather__daily-high {
    font-size: 1.2em;
}

.weather__daily-low {
    opacity: 0.7;
}

