@font-face {
    font-family: BricolageGrotesque;
    src: url("/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'BricolageGrotesque', sans-serif;
      margin: 0;
  padding: 0;
  box-sizing: border-box;
}